.cont-margin{
    margin-top: 120px !important;

}
.font-fa{
    font-family: 'Mina' !important;
}
.custom_p{
    font-size: 21px !important;

}
.custom_h3{
    font-size: 33px !important;
}
.custom_colmn{
    margin-top: 136px !important;
}